* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GT Walsheim Pro', sans-serif;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form {
    display: flex;
    flex-direction: column;
}

img {
    width: 968px;
    height: 1024px;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 67px 0 0 0;
}

.first {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #FF735C;
    text-align: center;
    margin: 0 0 19px 0;
}

.vector {
    width: 88px;
    height: 55px;
    margin: 7px 19px 0 -19px;
}

.second {
    font-weight: 800;
    font-size: 30px;
    text-align: start;
    margin: 62px 0 0 0;
}

.third {
    font-weight: 275;
    font-size: 18px;
    width: 332px;
    text-align: start;
    margin: 35px 0 0 0;
}

.fourth {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    margin: 57px 0 0 0;
}

.email::placeholder {
    font-weight: 250;
    font-size: 20px;
    padding: 0 0 0 10px;
}

.password::placeholder {
    font-weight: 250;
    font-size: 20px;
    padding: 0 0 0 10px;
}

input {
    width: 470px;
    height: 63px;
    border: none;
    background-color: #D9D9D9;
    margin: 24px 0 0 0;
}

.fifth {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    margin: 45px 0 0 0;
}

.button {
    width: 470px;
    height: 63px;
    border-radius: 30px;
    background-color: #FF735C;
    border: none;
    cursor: pointer;
    margin: 37px 0 0 0;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.forcheckbox {
    font-weight: 275;
    font-size: 18px;
    margin: 35px 0 0 0;
}

.checkbox {
    width: unset;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.link {
    width: 470px;
    font-weight: 400;
    font-size: 18px;
    color: #FF735C;
    text-align: center;
    text-decoration: none;
    margin: 26px 0 0 0;
}

.button1 {
    width: 184px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #FF735C;
    background-color: white;
    cursor: pointer;
    margin: 49px 0 0 160px;
    font-weight: 400;
    font-size: 20px;
    color: #FF735C;
    box-shadow: 2px 3px 4px 0px #00000040;
    ;
}